# new_command _sign sh ${HOME}/.config/sioyek/sign_document.sh %{file_path} %{selected_rect}

# Specify a background that's different from the pdf color (white by default)
background_color 0.3 0.3 0.3

# Set a gap between pages so I can see them.
page_separator_width 5
page_separator_color 0.3 0.3 0.3
